<div id="navbar">
  <nav>
    <div id="logo">
      <%= link_to root_path do %> 
        <%= image_tag "logo.jpg", alt: "Logo de l'application" %> 
      <% end %> 
    </div>
    <div id="navlinks">
      <ul>
        <li>
          <%= link_to "Accueil", root_path %>
        </li>
        <% if user_signed_in? %>
          <!-- Ajout du lien vers le panier uniquement si l'utilisateur est connecté -->
          <li>
            <%= link_to "Panier", order_path(current_order) if current_order %>
            <span id="cart-counter">
              <%= current_order ? current_order.order_items.sum(:quantity) : 0 %>
            </span>
            <span id="cart-total">
              <%= number_to_currency(current_order_total_price) %>
            </span>
          </li>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? %>
      <div id="dropdown_menu">
        <input type="checkbox" id="dropdown_toggle">
        <label for="dropdown_toggle">
          <div id="dropdown_menu_image">
            <!-- Image pour le menu déroulant -->
          </div>
        </label>
        <ul>
          <li>
            <%= link_to "Profile", edit_user_registration_path %> 
          </li>
          <li>
            <%= button_to "Déconnexion", destroy_user_session_path, method: :delete %> 
          </li>
        </ul>
      </div>
    <% else %>
      <div id="register">
        <ul>
          <li>
            <%= link_to "Connexion", new_user_session_path %> 
          </li>
          <li>
            <%= link_to "Inscription", new_user_registration_path %> 
          </li>
        </ul>
      </div>
    <% end %>
  </nav>
</div>

